<h2 class="my-3">About Us</h2>
<p class="my-2">Jungle is passionate about flora. Our philosophy is that the world should be green indoors, not just outdoors.<br>Our store is home to <b><%= @products %></b> beautiful plants!<br>To date, we've conducted <b><%= @orders %></b> sales consisting of <b><%= @items %></b> happy plants which went to loving homes!</p>
